:root {
    --pink: rgb(164, 29, 141);
    --blue: rgb(14, 139, 201);
    --yellow: rgb(255, 208, 0);
    --border: solid black;
    --m: 5px;
}

body {
    font-family: 'Merriweather', serif;
}

/* header section */
.header {
    display: flex;
    justify-content: center;
    border: var(--m) var(--border);
    background-color: var(--pink);
    color: white;
    margin: var(--m);
}

/* body section (minus header) */
.dynamic-content {
    display: flex;
}

/* sidebar section */
.sidebar {
    border: var(--m) var(--border);
    background-color: var(--blue);
    margin: var(--m);
    width: 25%;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    margin: var(--m);
    padding: var(--m);
    color: white;
    font-size: 200%;
}

.form {
    display: flex;
    justify-content: center;
    margin: var(--m);
    padding: var(--m);
}

.form-input,
.search-btn {
    border: 2px solid var(--pink);
    border-radius: 10px;
    margin: var(--m);
    padding: 5px 15px;
}

.search-btn:hover {
    cursor: pointer;
}

.search-btn:focus {
    font-weight: bold;
}

.searched-list-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: var(--m);
    padding: 0;
}

.searched-list-group button {
    border: 2px solid var(--pink);
    border-radius: 10px;
    margin: var(--m);
    padding: 5px 15px;
}

.searched-list-group button:hover {
    cursor: pointer;
}

.searched-list-group button:focus {
    font-weight: bold;
}

/* searched city display section */
.searched-city {
    border: var(--m) var(--border);
    background-color: var(--yellow);
    margin:  var(--m);
    padding:  var(--m);
    width: 75%;
}

/* current weather styling */
.current-weather {
    border: var(--m) var(--border);
    background-color: var(--blue);
    color: white;
    margin: var(--m);
    padding: var(--m);
}

.current-weather-header {
    background-color: var(--blue);
    margin: var(--m);
    display: flex;
    align-items: center;
    font-size: 150%;
}

.current-weather-header h3 {
    margin: 5px 15px;
}

.current-weather-header p {
    margin: var(--m);
}

.iconHeader {
    height: 40px;
    width: 40px;
}

/* these also styles elements in forecast */
.list-group {
    list-style: none;
    margin: var(--m);
    border-top: 2px var(--border);
    padding: 0;
}

.list-group-item {
    margin: var(--m);
    padding: var(--m);
    font-size: 110%;
}

/* forecast styling */
.forecast {
    border: var(--m) var(--border);
    background-color: var(--pink);
    margin: var(--m);
    padding: var(--m);
}

.forecast h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 200%;
    margin: 10px;
    padding: var(--m);
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px var(--border);
    background-color: var(--blue);
    margin: var(--m);
    padding: var(--m);
}

.forecast-card {
    background-color: var(--yellow);
    border: 3px var(--border);
    margin: var(--m);
    padding: var(--m);
    width: 15%;
}

.card-title {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: var(--m);
    font-size: 125%;
}

.icon {
    width: 60%;
    margin: 0 20%;
    padding: 0;
}

/* alternate screen dimension styling */
@media screen and (max-width: 1180px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: var(--m);
        padding: var(--m);
    }

    .form-input,
    .search-btn {
        border: 2px solid var(--pink);
        border-radius: 10px;
        margin: var(--m);
        padding: 5px 15px;
    }

    .forecast-card {
        background-color: var(--yellow);
        border: 3px var(--border);
        margin: var(--m);
        padding: var(--m);
        width: 40%;
    }

    .icon {
        width: 50%;
        margin: 0 25%;
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    /* sidebar section */
    .sidebar {
        border: var(--m) var(--border);
        background-color: var(--blue);
        margin: var(--m);
        width: 30%;
    }
    /* searched city display section */
    .searched-city {
        border: var(--m) var(--border);
        background-color: var(--yellow);
        margin: var(--m);
        padding: var(--m);
        width: 70%;
    }
}

@media screen and (max-width: 760px) {
    .forecast-card {
        background-color: var(--yellow);
        border: 3px var(--border);
        margin: var(--m);
        padding: var(--m);
        width: 70%;
    }

    .icon {
        width: 40%;
        margin: 0 30%;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    /* sidebar section */
    .sidebar {
        border: var(--m) var(--border);
        background-color: var(--blue);
        margin: var(--m);
        width: 40%;
    }
    /* searched city display section */
    .searched-city {
        border: var(--m) var(--border);
        background-color: var(--yellow);
        margin: var(--m);
        padding: var(--m);
        width: 60%;
    }
    .forecast-card {
        background-color: var(--yellow);
        border: 3px var(--border);
        margin: var(--m);
        padding: var(--m);
        width: 80%;
    }
}

@media screen and (max-width: 535px) {
    .form-input {
        border: 2px solid var(--pink);
        border-radius: 10px;
        margin: var(--m);
        padding: 5px 15px;
        width: 80%;
    }

    .forecast-card {
        background-color: var(--yellow);
        border: 3px var(--border);
        margin: var(--m);
        padding: var(--m);
        width: 90%;
    }
}